@import "tailwindcss";

@layer base {
  :root {
    --color-bg: #deeef8;
    --color-bg-secondary:#ecf9ff;
    --color-nav: #d4e9f3;
    --color-text: #2f3574;
    --color-text-secondary: #000000;
    --color-primary: #488feb;
    --color-hover: #98c5ff;
    --color-input:#d6e1e6 ;
    --color-text-input: #838383 ;
  }
  .dark {
    --color-bg: #26232e;
    --color-bg-secondary: #3a344b;
    --color-nav: #1e1c29;
    --color-text: #bea3f8;
    --color-text-secondary: #e0e0e0 ;
    --color-primary: #5444ca;
    --color-hover: #403781;
    --color-input:#3e3a4b ;
    --color-text-input:#999999 ;
  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
