@import "tailwindcss";

@layer base {
  :root {
    --color-bg: #deeef8;
    --color-bg-secondary: #ecf9ff;
    --color-text: #2f3574;
    --color-text-secondary: #000000;
    --color-primary: #488feb;
    --color-hover: #98c5ff;
    --color-hover-secondary: #d9e5eb;
    --color-input: #c6dce6;
    --color-text-input: #838383;
  }
  .dark {
    --color-bg: #26232e;
    --color-bg-secondary: #3a344b;
    --color-text: #bea3f8;
    --color-text-secondary: #e0e0e0;
    --color-primary: #5444ca;
    --color-hover: #403781;
    --color-hover-secondary: #39314e;
    --color-input: #463e5c;
    --color-text-input: #999999;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
  }
}
